{% extends 'base.html' %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock link_css %}
{% block content %}
<body>
    <br><br>
<div align="center">
    <div class="list-group" style="width: 20rem">

    <div class="list-group-item list-group-item-action active">
      Задание {{ list.id }}
        <a class="fas fa-edit" style="font-size:20px; color:white; margin-left: 100px" href="{% url 'task:update' list.id %}"></a>
        <a class="fas fa-trash-alt" style="font-size:20px; color:white; margin-left: 10px"  href="{% url 'task:delete' list.id %}"></a>
    </div>
  <ul>
    <li class="list-group-item list-group-item-action">{{ list.name }}</li>
    <li class="list-group-item list-group-item-action">{{ list.status.status }}</li>
    <li class="list-group-item list-group-item-action">{% for t in list.type.all %}{{ t }} {% if not forloop.last %}; {% endif %}{% endfor %}</li>
    <li class="list-group-item list-group-item-action">{{ list.description }}</li>
    <li class="list-group-item list-group-item-action">{{ list.created_at|date:"Y-m-d"}}</li>
    <li class="list-group-item list-group-item-action">{{ list.updated_at|date:"Y-m-d"}}</li>


  </ul>
</div>
</div>
</body>
</html>
{% endblock content %}